h1 {
    text-align: center;
    font-family: 'Inter';
    color: white;
    font-size: 16vmin;
}
h2 {
    text-align: center;
    font-family: 'Inter';
    color: white;
    font-size: 6vmin;
}
p {
    text-align: center;
    font-family: 'Inter';
    font-size: 3vmin;
}
.happy-heading {
    text-align: center;
    font-family: 'Inter';
    font-size: 4vmax;
    margin: 4px;
    margin-top: 5vh;
}
.happy-main {
    text-align: center;
    font-family: 'Inter';
    font-size: 8vmax;
    margin: 8px;
}
.main-content-happy {
    text-align: center;
    font-family: 'Inter';
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    padding-top: 4px;
    padding-bottom: 4px;
  }
footer p {
    text-align: center;
    font-family: 'Inter';
    color: white;
    font-size: 2vh;
    padding: 1px;;
}
footer a {
   color: white;
}
footer a:link {
  text-decoration: none;
}
footer a:visited {
  text-decoration: none;
}
footer a:hover {
  text-decoration: none;
}
footer a:active {
  text-decoration: none;
}

